body {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  background-color: #ffcb4f;

}

h2, h3, h4, button {
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-size: 50px;
  color: white;
  line-height: 55px;
  letter-spacing: 1px;
}

p {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 20px;
  color: #ef6034;
}

.recipeTitle {
  font-size: 40px;
  color: white;
}

.recipeIngredient , .recipeInstruction {
  font-size: 25px;
  color: white;
}

ul, li {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 20px;
  color: #ef6034;
  line-height: 30px;
}


.response {
padding-left: 50px;
}



button {
  display: block;
  height: 100px;
  width: 300px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  background-color: #ef6034;
  font-size: 20px;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

}


button:hover {
  background-color: white; /* Green */
  color: #ef6034;
}

@media screen and (max-width: 600px) {
  body {
    display: block;
  }
  .response {
  padding-left: 0px;
  }
}
